div.Blank_Line
{
  color: #666666;
  font-family: Arial;
  font-size: 3.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Blank_Line_outer
{
  margin-bottom: 1.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.Blank_Line_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 3.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Body_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H1
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 15.0pt;
  margin-left: 99pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
  text-align: Left;
  text-indent: -99pt;
  text-transform: none;
  vertical-align: baseline;
}

.H1_outer
{
  margin-bottom: 15.0pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
}

.H1_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Legal_Notices
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 15.0pt;
  margin-left: 99pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
  text-align: Left;
  text-indent: -99pt;
  text-transform: none;
  vertical-align: baseline;
}

.Legal_Notices_outer
{
  margin-bottom: 15.0pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
}

.Legal_Notices_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Bold
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.SL
{
  color: #666666;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-decoration: underline;
  text-transform: none;
  vertical-align: baseline;
}

table.Format_B
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: center;
}

table.Format_A
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
}

