<!-- Unless you are an experienced user please do not alter this stylesheet -->
<!-- If you feel that these styles do not meet your requirements then please  -->  
<!-- contact the Coporate Web Office  -->

P {
	color			: #6a6a6a;
	font-family		: Arial, Helvetica, "Sans Serif";
	font-size		: 10pt;

}

TD{
	color			: #6a6a6a;
	font-family		: Arial, Helvetica, "Sans Serif";
	font-size		: 10pt;
}

TH{	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-weight		: bold;
	font-size		: 10pt;
}

H1{color			: #FF6600;
	font-family		: Arial, Helvetica, "Sans Serif";
	font-size		: 12pt;
	font-weight		: bold;
}

H2{color			: #6a6a6a;
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 10pt;
}

.smallfont{
	font-size		: 8pt;
}

.largefont{
	font-size		: 12pt;
}

a.nodec:link{
	text-decoration	: none;
}

a.nodec:visited{
	text-decoration	: none;
}

a.nodec:hover{
	text-decoration	: underline;
}

a.nodec:active{
	text-decoration	: underline;
}

a.up:link{
	text-decoration	: none;
	font-size		: 8pt;
	color			: #FFFFFF;
}

a.up:visited{
	text-decoration	: none;
	font-size		: 8pt;
	color			: #FFFFFF;
}

a.up:hover{
	text-decoration	: underline;
	font-size		: 8pt;
	color			: #FFFFFF;
}

a.up:active{
	text-decoration	: underline;
	font-size		: 8pt;
	color			: #FFFFFF;
}

a.related:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	text-decoration	: none;
	color			: #99CC00;
}

a.related:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	text-decoration	: none;
	color			: #99CC00;
}

a.related:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	text-decoration	: underline;
	color			: #99CC00;
}

a.related:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	text-decoration	: underline;
	color			: #99CC00;
}

UL{
	color			: #6a6a6a;
	font-family		: Arial, Helvetica, "Sans Serif";
	font-size		: 10pt;
}

OL{
	color			: #6a6a6a;
	font-family		: Arial, Helvetica, "Sans Serif";
	font-size		: 10pt;
}

a:link{
	text-decoration	: underline;
}


a:visited{
	text-decoration	: underline;
}

a:hover{
	text-decoration	: underline;
}

a:active{
	text-decoration	: underline;
}


a.top:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #666699;
	text-decoration	: none;
	font-weight		: bold;
}

a.top:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #666699;
	text-decoration	: none;
	font-weight		: bold;
}

a.top:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #666699;
	text-decoration	: underline;
	font-weight		: bold;
}

a.top:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #666699;
	text-decoration	: underline;
	font-weight		: bold;
}

a.topactive:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #FF6600;
	text-decoration	: none;
	font-weight		: bold;
}

a.topactive:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #FF6600;
	text-decoration	: none;
	font-weight		: bold;
}

a.topactive:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #FF6600;
	text-decoration	: underline;
	font-weight		: bold;
}
a.topactive:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	color			: #FF6600;
	text-decoration	: underline;
	font-weight		: bold;
}



a.left:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
}

a.left:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
}

a.left:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}
a.left:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}


a.leftactive:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
	font-weight		: bold;
}

a.leftactive:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
	font-weight		: bold;
}

a.leftactive:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}

a.leftactive:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}

a.fourth:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
}

a.fourth:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
}

a.fourth:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}

a.fourth:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}

a.fourthactive:link{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
	font-weight		: bold;
}

a.fourthactive:visited{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #666699;
	text-decoration	: none;
	font-weight		: bold;
}

a.fourthactive:hover{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}
a.fourthactive:active{
	font-family		: Verdana, Arial, Helvetica, "Sans Serif";
	font-size		: 8pt;
	color			: #FF6600;
	text-decoration	: underline;
}

.tr_new_H1
{color				: #FF9100;
	font-family		: Arial, Helvetica, "Sans Serif";
	font-size		: 12pt;
	font-weight		: bold;
}


