/*Discovered Endpoint CSS*/
.grey-area-box {
    -fx-border-color: #d9d9d9;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-padding: 3px;
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
}

.grey-area-label-box {
    -fx-background-color: #f4f4f4;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.grey-area-label-box:disabled {
    -fx-background-color: #f4f4f4;
    -fx-opacity: 1.0;
    -fx-text-fill: #808080;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.grey-area-small-box {
    -fx-border-color: #d9d9d9;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 3px;
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
}

.area-without-frame {
     -fx-padding: 3px;
     -fx-border-insets: 3px;
     -fx-background-insets: 3px;
}

.innerhbox {
     -fx-padding: 20 10 15 10;
     -fx-border-insets: 20 10 15 10;
     -fx-background-insets: 20 10 15 10;
}

.connect-button {
    -fx-font-weight: BOLD;
    -fx-font-size: 15px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.inputfield {
   -fx-max-width: 200px;
   -fx-min-width: 200px;
   -fx-max-height: 25px;
   -fx-min-height: 25px;
}

.optionslabel {
   -fx-max-width: 120px;
   -fx-min-width: 120px;
   -fx-padding: 5 0 0 10;
   -fx-border-insets: 5 0 0 10;
   -fx-background-insets: 5 0 0 10;
}

.innerboxwithframe {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: lightgray;
    -fx-padding: 3px;
    -fx-border-insets: 3px;
    -fx-background-insets: 3px;
}

.checkboxoption {
   -fx-padding: 0 0 0 20;
   -fx-border-insets: 0 0 0 20;
   -fx-background-insets: 0 0 0 20;
}

#errorTextArea {
    -fx-text-fill: red;
}

#primaryActionButton {
    -fx-background-color: #001EFF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #001EFF;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

#primaryActionButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #001EFF;
}

#backButton {
    -fx-background-color: #001EFF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #001EFF;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

#backButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #001EFF;
}

.tabpanel {
    -fx-border-color: #A8A8A8;
}

.root {
    -fx-font-size: 13px;
}