<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerPort" value="14002"/>
		<add key="ServerAddress" value="127.0.0.1" />
		<add key="ConnectTimeout" value="500"/>
		<add key="LogToConsole" value="true"/>
		<add key="LogToFile" value="true"/>
		<add key="LogLevel" value="Trace"/>
		<add key="GlobalLocking" value="true"/>
	</appSettings>
</configuration>