<?xml version="1.0" encoding="utf-8" ?>

<!-- To turn on NLog diagnostic trace; fix the [x-internalLogXXXXX] names to [internalLogXXXX] -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace" internalLogFile="NLog-Trace.txt"
      throwExceptions="true">

	<targets>
		<target name="logfile" xsi:type="File" fileName="ESDK.Tests.Log.txt" />
    
		<target name="logfile.archived" xsi:type="File" 
				layout="${longdate} ${logger} ${level} ${message}"
				fileName="logs/ESDK.Tests2.Log.txt"				
				archiveFileName="archives/ESDK.Tests2.Log.{#}.txt"
				archiveEvery= "Day"
				archiveNumbering="DateAndSequence"
				keepFileOpen="false"
				maxArchiveFiles="3" />
	</targets>

	<rules>
		<!-- [name] must match EtaLogger.LogName -->
		<logger name="ESDK.Tests.EtaLogger" minLevel="Trace" writeTo="logfile" />
		<logger name="NLogLogger" minLevel="Trace" writeTo="logfile.archived" />
	</rules>
</nlog>