div.A1
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 19.0pt;
  margin-left: 117pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
  text-align: Left;
  text-indent: -117pt;
  text-transform: none;
  vertical-align: baseline;
}

.A1_outer
{
  margin-bottom: 19.0pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
}

.A1_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.A2
{
  color: #666666;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 11.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.A2_outer
{
  margin-bottom: 11.0pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
}

.A2_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.A3
{
  color: #f2960c;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  text-align: Left;
  text-indent: -54pt;
  text-transform: none;
  vertical-align: baseline;
}

.A3_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
}

.A3_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Blank_Line
{
  color: #666666;
  font-family: Arial;
  font-size: 3.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Blank_Line_outer
{
  margin-bottom: 1.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.Blank_Line_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 3.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Body_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Body_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.body_sm
{
  color: #666666;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.body_sm_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.body_sm_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullet
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 8.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Bullet_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 8.0pt;
}

.Bullet_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.bullet_ind
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.bullet_ind_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.bullet_ind_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Bullet_Table
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 14.4pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: -14.4pt;
  text-transform: none;
  vertical-align: baseline;
}

.Bullet_Table_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.Bullet_Table_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellBody
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CellBody_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.CellBody_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.CellHeading
{
  color: #ffffff;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Center;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.CellHeading_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.CellHeading_inner
{
  color: #ffffff;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Center;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.command
{
  color: #666666;
  font-family: 'Lucida Console', 'Courier New';
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
  white-space: pre;
}

.command_outer
{
  margin-bottom: 1.0pt;
  margin-right: 0pt;
  margin-top: 1.0pt;
}

.command_inner
{
  color: #666666;
  font-family: 'Lucida Console', 'Courier New';
  font-size: 9pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  white-space: pre;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.dash
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.dash_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.dash_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.FigTitle
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 14.0pt;
  margin-left: 68.4pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: -46.800000000000004pt;
  text-transform: none;
  vertical-align: baseline;
}

.FigTitle_outer
{
  margin-bottom: 14.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.FigTitle_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Footer
{
  color: #666666;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Footer_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Footer_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Footnote
{
  color: #666666;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 7.2pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Footnote_outer
{
  margin-bottom: 0.0pt;
  margin-right: 7.2pt;
  margin-top: 0.0pt;
}

.Footnote_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H1
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 15.0pt;
  margin-left: 99pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
  text-align: Left;
  text-indent: -99pt;
  text-transform: none;
  vertical-align: baseline;
}

.H1_outer
{
  margin-bottom: 15.0pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
}

.H1_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H1_NoNum
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 15.0pt;
  margin-left: 99pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
  text-align: Left;
  text-indent: -99pt;
  text-transform: none;
  vertical-align: baseline;
}

.H1_NoNum_outer
{
  margin-bottom: 15.0pt;
  margin-right: 0pt;
  margin-top: 30.0pt;
}

.H1_NoNum_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H2
{
  color: #666666;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 11.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
  text-align: Left;
  text-indent: -54pt;
  text-transform: none;
  vertical-align: baseline;
}

.H2_outer
{
  margin-bottom: 11.0pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
}

.H2_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H2_NoNum
{
  color: #666666;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 11.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
  text-align: Left;
  text-indent: -54pt;
  text-transform: none;
  vertical-align: baseline;
}

.H2_NoNum_outer
{
  margin-bottom: 11.0pt;
  margin-right: 0pt;
  margin-top: 17.0pt;
}

.H2_NoNum_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H3
{
  color: #f2960c;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  text-align: Left;
  text-indent: -54pt;
  text-transform: none;
  vertical-align: baseline;
}

.H3_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
}

.H3_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H3_NoNum
{
  color: #f2960c;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 8.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
  text-align: Left;
  text-indent: -54pt;
  text-transform: none;
  vertical-align: baseline;
}

.H3_NoNum_outer
{
  margin-bottom: 8.0pt;
  margin-right: 0pt;
  margin-top: 10.0pt;
}

.H3_NoNum_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.H4
{
  color: #666666;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 7.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
  text-align: Left;
  text-indent: -54pt;
  text-transform: none;
  vertical-align: baseline;
}

.H4_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 9.0pt;
}

.H4_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Header
{
  color: #666666;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Header_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Header_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.indent_25
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.indent_25_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.indent_25_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.indent_5
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.indent_5_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.indent_5_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Note_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Note_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note_Body
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Note_Body_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Note_Body_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note_Bullet
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Note_Bullet_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.Note_Bullet_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Note_Dash
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Note_Dash_outer
{
  margin-bottom: 3.0pt;
  margin-right: 0pt;
  margin-top: 3.0pt;
}

.Note_Dash_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Procedure_Heading
{
  color: #f2960c;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Procedure_Heading_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Procedure_Heading_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Step1
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Step1_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Step1_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Stepnext
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: -18pt;
  text-transform: none;
  vertical-align: baseline;
}

.Stepnext_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Stepnext_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Subtitle
{
  color: #666666;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 6.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Subtitle_outer
{
  margin-bottom: 6.0pt;
  margin-right: 0pt;
  margin-top: 6.0pt;
}

.Subtitle_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableFootnote
{
  color: #666666;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 18pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableFootnote_outer
{
  margin-bottom: 0.0pt;
  margin-right: 18pt;
  margin-top: 0.0pt;
}

.TableFootnote_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableTitle
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 18pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableTitle_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableTitle_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.TableTitle__5
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.TableTitle__5_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.TableTitle__5_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Tip
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Tip_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Tip_inner
{
  color: #000000;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Title
{
  color: #f2960c;
  font-family: Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: uppercase;
  vertical-align: baseline;
}

.Title_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Title_inner
{
  color: #f2960c;
  font-family: Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: uppercase;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Title_WhiteFont
{
  color: #ffffff;
  font-family: Arial;
  font-size: 45.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  text-align: justify;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Title_WhiteFont_outer
{
  margin-bottom: 0.0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
}

.Title_WhiteFont_inner
{
  color: #ffffff;
  font-family: Arial;
  font-size: 45.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Warning
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 7.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
  text-align: Left;
  text-indent: 0pt;
  text-transform: none;
  vertical-align: baseline;
}

.Warning_outer
{
  margin-bottom: 7.0pt;
  margin-right: 0pt;
  margin-top: 7.0pt;
}

.Warning_inner
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: Left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

span.Body
{
  color: #666666;
  font-family: Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
}

span.Bold
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.bullet-large
{
  color: #f2960c;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Bullet_Large
{
  color: #f2960c;
  font-family: Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.CodeOrCommand
{
  color: #f2960c;
  font-family: "Courier New";
  font-size: 9.0pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Courier_9pt
{
  font-family: Courier;
  font-size: 9.0pt;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Doc_Link
{
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.DocumentTitle
{
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.FileOrDirectory
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.GUI_Element
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Hyperlink
{
  color: #0000ff;
  font-variant: normal;
  text-decoration: underline;
  text-transform: none;
  vertical-align: baseline;
}

span.Italic
{
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Keyboard
{
  font-size: 9.0pt;
  vertical-align: baseline;
}

span.Orange
{
  color: #f2960c;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Parameter
{
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Superscript
{
  vertical-align: super;
}

span.ToolOrUtility_Name
{
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Underlined
{
  font-variant: normal;
  text-decoration: underline;
  text-transform: none;
  vertical-align: baseline;
}

span.VariableValue
{
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

table.Warning_Ident_25
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Format_B
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 12.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Format_A
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Note_Indent_25
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Note_Indent_5
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Warning_Indent_5
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Tip_Indent_25
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Note_Indent_75
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Note
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Commands
{
  border-collapse: collapse;
  margin-bottom: 15.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 6pt;
  padding-top: 2pt;
  text-align: left;
  vertical-align: top;
}

table.Commands__75
{
  border-collapse: collapse;
  margin-bottom: 15.0pt;
  margin-left: 54pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  text-align: left;
  vertical-align: top;
}

table.Commands__5
{
  border-collapse: collapse;
  margin-bottom: 15.0pt;
  margin-left: 36pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  text-align: left;
  vertical-align: top;
}

table.Commands__25
{
  border-collapse: collapse;
  margin-bottom: 15.0pt;
  margin-left: 18pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-top: 2pt;
  text-align: left;
  vertical-align: top;
}

table.Two_Column
{
  border-collapse: collapse;
  caption-side: bottom;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 4pt;
  padding-left: 6pt;
  padding-right: 6pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Tip
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

table.Warning
{
  border-collapse: collapse;
  margin-bottom: 12.0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0.0pt;
  padding-bottom: 6pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: top;
}

